
@{
    ViewBag.Title = "Buying";
}


<!-- health section -->

<section class="health_section layout_padding">
    <div class="health_carousel-container">
        <h2 class="text-uppercase">
            Medicine & Health

        </h2>
        <div class="carousel-wrap layout_padding2">
            <div class="owl-carousel">



                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/acetaminophen.jpg" />

                       
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Acetaminophen
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    78
                                </h6>
                            </div>
                        </div>
                    </div>




                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Benzonatate.jpg" />

                      
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Benzonatate
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    65
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="item">
                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Cephalexin.jpg" />


                   
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Cephalexin
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    39
                                </h6>
                            </div>
                        </div>
                    </div>



                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Doxycycline.jpg" />

                    
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Doxycycline
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    55
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Entresto.jpg" />
                            
                            
                      
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Entresto
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    67
                                </h6>
                            </div>
                        </div>
                    </div>


                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Farxiga.jpg" />

                  
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Farxiga
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    34
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Gabapentin.jpg" />


                   
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Gabapentin
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    65
                                </h6>
                            </div>
                        </div>
                    </div>


                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Hydrochlorothiazide.jpg" />

                     
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Hydrochlorothiazide
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    50
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    @*Vitamins & Supplements*@




    <div class="health_carousel-container">
        <h2 class="text-uppercase">
            Vitamins & Supplements


        </h2>
        <div class="carousel-wrap layout_padding2">
            <div class="owl-carousel owl-2">
    
                <div class="item">
                
                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/l-methylfolate-systemic.jpg" />
                            
                        
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    l-methylfolate systemic
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    53
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
               
                
                
                <div class="item">
                
                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/niacin-systemic.jpg" />

                   
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Niacin Systemic
                                </h6>₹
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    45
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
             
                
                <div class="item">
                
                    
                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/biotin-systemic.jpg" />
                            
                            
                    
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Biotin Systemic
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    40
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="item">
                
                    
                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/cholecalciferol-systemic.jpg" />
                            
                     
                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Cholecalciferol Systemic
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    50
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        @Html.ActionLink("Contact", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

    </div>
</section>

<!-- end health section -->
