
@model GunavathiMedicalShop.Models.CallBackRequestModel

<!-- slider section -->
<section class=" slider_section position-relative mt-1">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner bgslider">
            <div class="carousel-item active" style="background-color:aqua">
        
                
                
                <div class="container bgslider" style="background-color:aqua">
                
                    <div class="row">
                    
                        <div class="col-md-4">
                        
                            <div class="img-box">
                                <img src="~/Content/images/BGimages2.png" />
                            
                            </div>
                        
                        </div>
                        
                        
                        <div class="col-md-8">
                            <div class="detail-box">
                                <h1>
                                    Welcome To Our <br>
                                    <span>
                                        Gunavathi Medicine
                                    </span>

                                </h1>
                                <p style="color:darkslategrey">
                                    Generic medicines are pharmaceutical products
                                    that contain the same active ingredients as brand-name medicines.
                                </p>
                                <div>
                                    <a href="">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="carousel-item" style="background-color:aqua">
                <div class="container bgslider">
            
                    
                    <div class="row">
                    
                        
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="~/Content/images/BGimages3.png" />
                                
                                @*<img src="~/Content/images/medicine.png" alt="">*@
                            </div>
                        
                        </div>
                        
                        <div class="col-md-8">
                        
                            <div class="detail-box">
                                <h1>
                                    Welcome To Our <br>
                                    <span>
                                        Gunavathi Medicine
                                    </span>

                                </h1>
                                <p style="color:darkslategrey">
                                    You can get in-depth knowledge about Generic Medicine here.
                                </p>
                                <div>
                                    <a href="">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>



            <div class="carousel-item" style="background-color:aqua">
                <div class="container bgslider">
            
                    <div class="row">
                    
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="~/Content/images/BGimages.png" />

                            </div>
                        
                        </div>
                        
                        
                        <div class="col-md-8">
                            <div class="detail-box">
                                <h1>
                                    Welcome To Our <br>
                                    <span>
                                        Gunavathi Medicine
                                    </span>

                                </h1>
                                <p style="color:darkslategrey">
                                    All Generic and Branded Medicines and the rest of the essential
                                    medical products on Gunavathi Medicine are sourced directly from reputable
                                    manufacturers,
                                    ensuring authenticity and compliance with industry standards.
                                </p>
                                <div>
                                    <a href="">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </a>
    </div>


</section>
<!-- end slider section -->
  </div>

<!-- end feature section -->
<!-- discount section -->
<div class="layout_padding-top">
    <section class="discount_section ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-lg-3 col-md-5 offset-md-2">
                    <div class="detail-box">
                        <h2>
                            You get <br>
                            any medicine <br>
                            on
                            <span>
                                10% discount
                            </span>

                        </h2>
                        <p>
                            Healthy Saving Days
                        </p>
                        <div>
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-5">
                    <div class="img-box">
                        <img src="~/Content/images/medicinebg2.jpg" />


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<!-- end discount section -->

<!-- health section -->

<section class="health_section layout_padding">
    <div class="health_carousel-container">
        <h2 class="text-uppercase">
            Medicine & Health

        </h2>
        <div class="carousel-wrap layout_padding2">
            <div class="owl-carousel">



                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/acetaminophen.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Acetaminophen
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    78
                                </h6>
                            </div>
                        </div>
                    </div>




                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Benzonatate.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Benzonatate
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    65
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="item">
                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Cephalexin.jpg" />



                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Cephalexin
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    39
                                </h6>
                            </div>
                        </div>
                    </div>



                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Doxycycline.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Doxycycline
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    55
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Entresto.jpg" />



                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Entresto
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    67
                                </h6>
                            </div>
                        </div>
                    </div>


                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Farxiga.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Farxiga
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    34
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Gabapentin.jpg" />



                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Gabapentin
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    65
                                </h6>
                            </div>
                        </div>
                    </div>


                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/Hydrochlorothiazide.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Hydrochlorothiazide
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    50
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    @*Vitamins & Supplements*@




    <div class="health_carousel-container">
        <h2 class="text-uppercase">
            Vitamins & Supplements


        </h2>
        <div class="carousel-wrap layout_padding2">
            <div class="owl-carousel owl-2">

                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/l-methylfolate-systemic.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    l-methylfolate systemic
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    53
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="item">

                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/niacin-systemic.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Niacin Systemic
                                </h6>₹
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    45
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="item">


                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/biotin-systemic.jpg" />



                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Biotin Systemic
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    40
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="item">


                    <div class="box">
                        <div class="btn_container">
                            @Html.ActionLink("Buy Now", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/cholecalciferol-systemic.jpg" />


                        </div>
                        <div class="detail-box">
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>

                            </div>
                            <div class="text">
                                <h6>
                                    Cholecalciferol Systemic
                                </h6>
                                <h6 class="price">
                                    <span>
                                        ₹
                                    </span>
                                    50
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        @Html.ActionLink("Contact", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })

    </div>
</section>

<!-- end health section -->
<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="custom_heading-container ">
            <h2>
                About Us
            </h2>
        </div>

        <div class="img-box">

            <img src="~/Content/images/about-image.jpg" />
        </div>
        <div style="color:black" class="detail-box">
            <p>
                We believe that great work culture is a vital ingredient to a company’s success.
                Our team members are encouraged to take ownership and work as a unit.
                Every team member inspires and motivates other members to contribute to the team’s success.
            </p>



            <p>

                Listening to each patient to understand their situation and feelings
                Making sure the families of patients are comfortable and have sufficient information
                Considering each one the same, not giving preference to anyone
                Being friendly and approachable with patients and their families
                Taking ownership for our success
                Meeting all commitments made to patients, doctors, our colleagues and all other stakeholders
                Learning from mistakes and not blaming others when things go wrong
                Delivering safe patient care in a timely and efficient manner
                Doing whatever it takes whether it is a part of the job or not
                Questioning colleagues when they do not deliver on what they are supposed to
            </p>
            <div class="d-flex justify-content-center">

                @Html.ActionLink("Contact", "ContactPage", "IndexPages", new { area = "" }, new { @class = "" })


            </div>
        </div>
    </div>
</section>


<!-- end about section -->
<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
        <div class="custom_heading-container ">
            <h2>
                What is says our clients
            </h2>
        </div>
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_container layout_padding2">
                        <div class="client_detail text-dark">
                            <p>
                                wonderful staff deliver consistently great customer service! Very professional and friendly and will go the extra mile 
                                to price match and keep their customers happy. The drive through is so
                                advanced and amazing especially during this pandemic! The staff is always friendly and helpful! Thanks for the truly excellent care!
                            </p>
                        </div>
                        <div class="client_box ">
                            <div class="img-box">
                                <img src="~/Content/images/clientimage.png" />
                            </div>
                            <div class="name">
                                <h5>
                                    Ram Saran
                                </h5>
                                <h6>
                                    <span>
                                        Client
                                    </span>
                                    <img src="~/Content/images/quote.png" alt="">
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding2">
                        <div class="client_detail text-dark">
                            <p>
                                Professional and genuinely caring service. Great team of ppl who know customer service.
                                Their handling of the Covid-19 vaccine appointments and how they administered the shots was super.
                                Our prescriptions have already been transferred!!
                            </p>
                        </div>
                        <div class="client_box ">
                            <div class="img-box">
                                <img src="~/Content/images/clientimage.png" />
                            </div>
                            <div class="name">
                                <h5>
                                    Joesh Prakasham
                                </h5>
                                <h6>
                                    <span>
                                        Client
                                    </span>
                                    <img src="~/Content/images/quote.png" alt="">
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding2">
                        <div class="client_detail text-dark">
                            <p>
                                I switched over to Excellent Care Pharmacy from another local pharmacy/store. Happy with the change.
                                Since then, I have moved out of town with no plans of switching again. I would rather make the trip once
                                or twice per month and know that I will receive excellent care from Sam and his fantastic team.
                                I would recommend the switch. It was easy and well worth it!
                            </p>
                        </div>
                        <div class="client_box ">
                            <div class="img-box">
                                @*<img src="~/Content/images/client.png " alt="">*@
                                <img src="~/Content/images/clientimage.png" />
                            
                            </div>
                            <div class="name">
                                <h5>
                                    Julia Johnson
                                </h5>
                                <h6>
                                    <span>
                                        Client
                                    </span>
                                    <img src="~/Content/images/quote.png" alt="">
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- end client section -->
<!-- contact section -->


<section class="contact_section">
    <div class="container">
        <div class="row">
            <div class="custom_heading-container ">
                <h2>
                    Request A call back
                </h2>
            </div>
        </div>
    </div>



 
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @ViewData["Message"]
        </div>
    }



    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @ViewData["Error"]
        </div>
    }








    <div class="container layout_padding2">
        <div class="row">
            <div class="col-md-5">
                <div class="form_contaier text-dark">






                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Selectmedicine, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Selectmedicine, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Selectmedicine, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control mw-100", style = "height: 200px;" } })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" value="Create" class="">Send</button>
                                    @*<input type="submit" value="Create" class="btn btn-default" />*@
                                </div>
                            </div>
                        </div>
                    }


                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }


                </div>
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <h3>
                        Get Now Medicines
                    </h3>
                    <p>
                        All Generic and Branded Medicines and the rest of the essential medical products on Medkart Pharmacy are
                        sourced directly from reputable manufacturers,
                        ensuring authenticity and compliance with industry standards.
                        You can use this simple straightforward process, browse the Medkart pharmacy website and order medicines Gunavathi OR you can search for a Medkart
                        pharmacy near me and get to the nearest store location and visit the store and get the required high-quality medications.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->
