@model GunavathiMedicalShop.Models.DrugHealthInfoModel

@{
    ViewBag.Title = "Delete";
}

<h4 class="text-center mt-5 mb-5" style="color:chocolate">Delete Drug Health Information</h4>
<hr />

<h5 class="text-center" style="color:mediumseagreen">Are you sure you want to delete this?</h5>
<div class="offset-5 text-dark">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usageinstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usageinstructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sideeffects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sideeffects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interactions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interactions)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
