@model GunavathiMedicalShop.Models.CallBackRequestModel

@{
    ViewBag.Title = "Delete";
}
<h2 class="text-center mt-5 mb-5" style="color:chocolate">Delete Call Back Request Details</h2>
<hr />


<h3 class="text-center" style="color:mediumseagreen">Are you sure you want to delete this?</h3>
<div class="offset-5 text-dark">
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Selectmedicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Selectmedicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
