@model IEnumerable<GunavathiMedicalShop.Models.OrderModel>

@{
    ViewBag.Title = "SearchOrder";
}


<h4 style="color:chocolate" class="text-center mt-5 mb-5">Search Order Details</h4>
<hr />
<p>
    @Html.ActionLink("Go To Index", "IndexOrder")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="offset-5 text-dark">
    <div class="form-group">
        <label for="Search">Search the Orders</label>
        <input type="search" class="form-control" placeholder="Search Order List" name="Search" />
    </div>

    <div class="form-group mt-2 mb-5">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Search" />
        </div>

    </div>

        </div>
}


<table class="table table-primary table-hover">
    <tr style="vertical-align:middle">
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orderdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paymentmethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totalamount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="vertical-align:middle">
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paymentmethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalamount)
            </td>
            <td>
                     </td>
        </tr>
    }

</table>
