@model IEnumerable<GunavathiMedicalShop.Models.OrderItemModel>

@{
    ViewBag.Title = "Search";
}

<h2 style="color:chocolate" class="text-center">Search</h2>

<p>
    @Html.ActionLink("Go To Index", "Index")
</p>


@using (Html.BeginForm())
 {
                @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Search">Search</label>
        <input type="search"name="Search" class="form-control" placeholder="Search Your Order" />

    </div>
            

<div class="form-group mt-2 mb-4">

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</div>




}


<table class="table table-primary table-hover">
    <tr style="vertical-align:middle">

        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="vertical-align:middle">

            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
