@model IEnumerable<GunavathiMedicalShop.Models.PVerificationModel>

@{
    ViewBag.Title = "Index";
}

<h4 class="text-center mt-5 mb-5" style="color:chocolate">Prescription Verification Details</h4>
<hr />





@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}



@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Error"]
    </div>
}











<p>
    @Html.ActionLink("Create New", "Create")
    &nbsp;&nbsp;&nbsp;&nbsp;

    @Html.ActionLink("Search Records", "Search")
</p>
<table class="table table-primary table-hover">
    <tr style="vertical-align:middle">
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresimagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verifystatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pharmacistnotes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="vertical-align:middle">
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>



                <img src="~/Content//PrescriptionImage/@item.PresimagePath" height="100" style="border-radius:5px" />


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verifystatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pharmacistnotes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
