@model GunavathiMedicalShop.Models.InventoryReportModel

@{
    ViewBag.Title = "Create";
}

<h4 class="text-center mt-5 mb-5" style="color:chocolate">Create Inventory Report</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal offset-5 text-dark">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.Stocklevels, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBox("Stocklevels", TempData["Stocklevels"] as string, new { @class = "form-control",})
                @Html.ValidationMessageFor(model => model.Stocklevels, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.Expirationdates, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expirationdates, new { htmlAttributes = new { @class = "form-control",type="date" } })


                @Html.ValidationMessageFor(model => model.Expirationdates, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.Reorderpoints, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBox("Reorderpoints", TempData["Reorderpoints"] as string, new { @class = "form-control", })


                @Html.ValidationMessageFor(model => model.Reorderpoints, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="offset-5">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
